body {
    background-color: rgb(16, 148, 75);
}
.title {
    text-align: center;
    background-color: rgba(30, 94, 177, 0.753);
    margin-left: 20%;
    margin-right: 20%;
}
.inputs {
    text-align: center;
}
.input1 {
    margin-top: 2%;
    margin-bottom: 2%;
}
.input2 {
    margin-top: 2%;
    margin-bottom: 2%;
}
.input3 {
    margin-top: 2%;
    margin-bottom: 2%;
}

#flexcontainer {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: rgba(45, 73, 164, 0.76);
    width: 25vw;
    height: 50vh;
    font-size: 1rem;
    border-radius: 20px;
    padding-bottom: 3vh;
    margin: 5vh;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    box-shadow: 10px 10px;
    transition: all 0.3s;
}

.card-img {
    align-items: center;
    width: 50vw;
    height: 70vh;
}