body {
    background-color: rgb(16, 148, 75);
}
.title {
    text-align: center;
    background-color: rgba(30, 94, 177, 0.753);
    margin-left: 20%;
    margin-right: 20%;
}
.inputs {
    text-align: center;
}
.input1 {
    margin-top: 2%;
    margin-bottom: 2%;
}
.input2 {
    margin-top: 2%;
    margin-bottom: 2%;
}
.input3 {
    margin-top: 2%;
    margin-bottom: 2%;
}

#flexcontainer {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: rgba(45, 73, 164, 0.76);
    width: 25vw;
    height: 50vh;
    font-size: 1rem;
    border-radius: 15px;
    padding-bottom: 3vh;
    margin: 5vh;
    margin-left: 60px;
    margin-right: 60px;
    box-shadow: 10px 10px;
}

.card-img {
    align-items: center;
    width: 50%;
    height: 55%;
}

@media screen and (max-width: 800px) {
    .card {
      width: 100%;
      margin-left: 33vw;
      margin-right: 33vw;
      margin: 20vh;
      height: 90%;
    }
    .title {
      font-size: 1.3rem;
    }
  }
  
  @media screen and (max-width: 1200px) and (min-width: 801px) {
    .card {
      width: 65%;
      margin-left: 2.5vw;
      margin-right: 2.5vw;
      margin: 10vh;
      height: 65%;
    }
    .title {
      font-size: 2rem;
    }
  }
  